<h1>Bienvenido a Precios Justos</h1>
<div class="row">
    <div class="col">
        <img class="logoHome" src="../assets/precio.png" alt="">
        <h3>¿Qué es Precios Justos?</h3>
        <p>Una medida que fija los precios de más de 1.800 productos de primera necesidad por 120 días, mediante acuerdos voluntarios con empresas productoras y comercializadoras.</p>
    </div>
    <div class="col">
        <img class="logoHome" src="../assets/tienda.png" alt="">
        <h3>¿Dónde los encuentro?</h3>
        <p>En los supermercados, distribuidores mayoristas y comercios adheridos al programa por provincia o región.</p>
    </div>
</div>