<div class="container">
  <h1 id="tMain">Bienvenido a Precios Justos</h1>
  <div id="centro"class="row">
    <div class="col-12 col-lg-4">
      <div id="logo">
        <img class="logoHome" src="../assets/precio.png" alt="">
      </div>
      <div>
        <h3>¿Qué es Precios Justos?</h3>
        <p>Una medida que fija los precios de más de 1.800 productos de primera necesidad por 120 días, mediante
          acuerdos
          voluntarios con empresas productoras y comercializadoras.</p>
      </div>
    </div>
    <div id="box2" class="col-12  col-lg-4">
      <div id="logo" >
        <img  class="logoHome" src="../assets/tienda.png" alt=""> 
      </div>
      <div>
        <h3>¿Dónde los encuentro?</h3>
        <p>En los supermercados, distribuidores mayoristas y comercios adheridos al programa por provincia o región.</p>
      </div>
    </div>
  </div>
  <div id="selectorProv" class="col-12">
    <a routerLink="/provincia"><button type="button" class="btn btn-outline-dark">Ir a seleccion de
        provincia</button></a>
  </div>
</div>
