.logoHome{
    width: 80px;
    left: 100px;
}
#tMain{
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}
#text2{
    padding-top: 20px;
    justify-content: right;   
}
#logo{
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;

     }
h3{
    display: flex;
    justify-content: center;
    text-align: center;
}
#selectorProv{
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}
#box2{
    text-align: center;
    justify-content: center;
    align-items: center;
}
#centro{
    justify-content: space-around;
}