<link rel="stylesheet" href="./provincia-select.component.css">

<h1>Hola, selecciona una provincia</h1>

<select class="form-select" [(ngModel)]="provinciaSlctd">
  <option value="" disabled selected>Seleccione una provincia</option>
  <option *ngFor="let provincia of provincias" [ngValue]=provincia>
      {{provincia.nombre}}
  </option>
</select>

<h3>Provincia seleccionada: {{provinciaSlctd.nombre}}</h3>

<div class="row">
  <div id="botonLista">
      <button type="button" class="btn btn-outline-info ">LISTADO DE PRECIOS JUSTOS</button>
  </div>
</div>