h1,h3{
    color:black;
    margin-top: 5%;
}

#botonLista{
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    
}

#selector{
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn{
    padding:20px;
}
