<!-- html mathias -->
<body>
  <header>
      <div id="seccion1" class="container-fluid">
          <div>
              <h3>precios</h3>
          </div>
          <div id="logoHeader">
              <img src="../assets/intro2.png" alt="">
          </div>
          <div id="justoTxt">
              <h1>justos</h1>
          </div>
      </div>
      <div id="seccion2" class="conteiner-fluid">
          <div class="col col-lg-6">
              <input type="text" class="form-control" placeholder="buscar">
          </div>
          <div id="lupa" type="submit">
              <img src="../assets/serachicon 2.png" width="60px">
          </div>
      </div>
  </header>
  <main>
    <!-- html en clase -->
    <div class="container">
      <h1>Hola, selecciona una provincia</h1>
      <app-provincia-select></app-provincia-select>
    </div>
    <!-- hasta aca -->
      <div class="row">
          <div id="imagenQR" type="submit">
              <img src="../assets/icono qr.png" width="170px">
          </div>
      </div>
      <div class="row">
          <div id="escaneo">
              <h1>ESCANEAR PRODUCTO</h1>
          </div>
      </div>
      <!-- <div class="row">
          <div id="botonLista">
              <button type="button" class="btn btn-outline-info ">LISTADO DE PRECIOS JUSTOS</button>
          </div>
      </div> -->
  </main>
</body>