<header>
  <div>  
  <div id="seccion1" class="container-fluid">
    <div>
      <h3>precios</h3>
    </div>
    <div id="logoHeader">
      <img src="../../assets/iconoprincipal.png" alt="">
    </div>
    <div id="justoTxt">
      <h1>justos</h1>
    </div>
</div> 
    <div id="menuGeneral">
        <div class="btn-group gap-2" role="group" aria-label="Basic outlined example">
            <a routerLink="/"><button type="button" class="btn btn-outline-light">Home</button></a>
            <!-- <a routerLink="/home"><button type="button" class="btn btn-outline-light">Home 2</button></a> -->
            <a routerLink="/provincia"><button type="button" class="btn btn-outline-light">Select provincias</button></a>
            <a routerLink="provincia/:nombreProvincia/articulo"><button type="button" class="btn btn-outline-light">Productos de TDF</button></a>
          </div>
      </div>
</div>  
</header>
