<header>
    <div id="seccion1" class="container-fluid">
        <div class="row">
            <div>
        <h3>precios</h3>
    </div>
    <div id="logoHeader">
        <img src="../assets/intro2.png" alt="">
    </div>
    <div id="justoTxt">
        <h1>justos</h1>
    </div>
        </div>
    <div class="row">
        <div>
        <a routerLink="/">Home 1</a> |
    <a routerLink="/home">Home 2</a> |
    <a routerLink="/provincia">Select provincias</a> |
    <a routerLink="provincia/:nombreProvincia/articulo">Productos de TDF</a>
    </div>
    </div>
    </div>
</header>
