<footer>
<div id="general" class=" container-fluid fixed-bottom row">
        <div id="contacto" class="col">
            <strong><p id="Info">Contacto:</p></strong> 
            <p><a href="https://www.instagram.com/valeesanabria/">Valeria Sanabria</a></p>
            <p><a href="https://www.instagram.com/mathias__perez/"> Mathias Perez</a></p>
            <p><a href="https://www.instagram.com/charrofrtus/"> Jose Frtus</a></p>
         </div>
    <div id="copy" class="col">
        <p>Copyright: 2022</p>
    </div>

    <div id="direccion" class="col">
        <strong><p id="Info">App no oficial</p></strong>
        <p>Juana Genoveva Fadul 338, Ushuaia, TdF</p>
        <p>Contactanos: <a href="mailto:correoejemplo@gmail.com">email</a></p>
    </div>


</div>
















</footer>
