<footer>
  <div id="footer" class="container-fluid">
        <div>
           <strong>
              <p>Contacto:</p>
           </strong>
               <p><a href="https://www.linkedin.com/in/valeria-elizabeth-sanabria-13095020b/">Valeria Sanabria</a></p>
               <p><a href="https://www.linkedin.com/in/mathias-david-perez-calvo-225156175/"> Mathias Perez</a></p>
               <p><a href="https://www.linkedin.com/in/jos%C3%A9-charbel-frtus-533869259/"> Jose Frtus</a></p>
        </div>
        <div>
          <strong>
             <p id="Info">App no oficial</p>
           </strong>
           <p>Juana Genoveva Fadul 338, Ushuaia, TdF</p>
           <p>Contactanos: <a href="mailto:correoejemplo@gmail.com">email</a></p>
           <p>Tenes dudas o consultas? <a href="https://api.whatsapp.com/send/?phone=5491128790887&text&type=phone_number&app_absent=0">Aqui!</a></p>
      </div>
 </div>

      <div id="copy" class="container-fluid">
                <p>Copyright © 2023</p>
             </div>
</footer>
