<footer>
  <div >
    <div id="general" class="row">

      <div id="contacto" class="col">
        <strong>
          <p id="Info">Contacto:</p>
        </strong>
        <div class="row">
        <p><a href="https://www.linkedin.com/in/valeria-elizabeth-sanabria-13095020b/">Valeria Sanabria</a></p>
        <p><a href="https://www.linkedin.com/in/mathias-david-perez-calvo-225156175/"> Mathias Perez</a></p>
        <p><a href="https://www.instagram.com/charrofrtus/"> Jose Frtus</a></p>
        </div>    
    </div>

      <div id="direccion" class="col">
        <strong>
          <p id="Info">App no oficial</p>
        </strong>
        <p>Juana Genoveva Fadul 338, Ushuaia, TdF</p>
        <p>Contactanos: <a href="mailto:correoejemplo@gmail.com">email</a></p>
      </div>

      <div class="row">
        <div id="copyright" class="col">
          <p>Copyright © 2022-23</p>
        </div>
      </div>
    </div>
  </div>
</footer>
